evogym/simulator/.vs/
evogym/simulator/x64/
evogym/simulator/SimulatorCPP/x64/
old/
.vs/
.idea
.idea/
.vscode
*.vcxproj
*.vcxproj.*
*.sln
*.egg-info
dist/
build/
__pycache__/
examples/saved_data
examples/__pycache__
examples/api_planning.txt
evogym/__pycache__
evogym/envs/__pycache__
build_scripts
.DS_Store
exported/
req_ns.txt
backup/
