[submodule "examples/externals/pytorch_a2c_ppo_acktr_gail"]
	path = examples/externals/pytorch_a2c_ppo_acktr_gail
	url = https://github.com/ikostrikov/pytorch-a2c-ppo-acktr-gail.git
[submodule "evogym/simulator/externals/pybind11"]
	path = evogym/simulator/externals/pybind11
	url = https://github.com/pybind/pybind11
[submodule "evogym/simulator/externals/glfw"]
	path = evogym/simulator/externals/glfw
	url = https://github.com/glfw/glfw
[submodule "evogym/simulator/externals/glew"]
	path = evogym/simulator/externals/glew
	url = https://github.com/Perlmint/glew-cmake
[submodule "examples/externals/PyTorch-NEAT"]
	path = examples/externals/PyTorch-NEAT
	url = https://github.com/uber-research/PyTorch-NEAT
